<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/VR-Link Program/src/com/mak/vrlj/example/talk/Talk.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mak.vrlj.example.talk.Talk"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="VR-Link Program"/>
</launchConfiguration>
